// .num-btn{
//   width: 100px;
//   height: 50px;
//   background: #191970;
//   border: 1px solid white;
//   color: white;
//   font-size: 25px;
// }
.operation-btn{
  width: 75px;
  height: 50px;
  background: #6F8FAF;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}

.btn-clear{
  background: #EE4B2B;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}

.invalid-input{
  color: #EE4B2B;
  font-size: 12px;
}
